@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
         url('../assets/fonts/Lato-Regular.woff') format('woff'),
         url('../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Bold.woff2') format('truetype'),
         url('../assets/fonts/Lato-Bold.woff') format('woff'),
         url('../assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OndoFontCompressed';
    src: url('../assets/fonts/OndoFontCompressed.woff2') format('woff2'),
         url('../assets/fonts/OndoFontCompressed.woff') format('woff'),
         url('../assets/fonts/OndoFontCompressed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  