@font-face {
    font-family: 'FONTSPRINGDEMO-OndoMediumRegular';
    src: url('./fonts/FONTSPRINGDEMO-OndoMediumRegular.woff2') format('woff'),
         url('./fonts/FONTSPRINGDEMO-OndoMediumRegular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato-Light';
    src: url('./fonts/Lato-Light.woff2') format('woff2'),
         url('./fonts/Lato-Light.ttf') format('truetype');
  }
  
  .home-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 20px; 
    background-color: #20164e; 
    color: white;
  }
  
  .text-section {
    max-width: 600px; 
    z-index: 1; 
    margin-top: -75px; 
    margin-left: 30px;
  }
  
  .image-background {
    background-color: rgba(46, 31, 110, 0.7);
    background-image: url('/src/assets/images/Artboard.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-blend-mode: color-dodge;
    background-position: center; 
    position: absolute;
    width: 100%;  
    height: 106vh; 
    left: 0; 
    top: -10px; 
    background-position: center; 
  }
  
  .gradient-text {
    background: linear-gradient(90deg, #6542F4 43.84%, #F976FF 68.39%, #B50098 91.97%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  
  .big-title {
    font-family: FONTSPRINGDEMO-OndoMediumRegular, sans-serif;
    font-size: 66.94px;
    font-weight: 800;
    line-height: 76.24px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  
  .small-paragraph {
    font-size: 18px; 
    margin: 10px 0 20px; 
    font-family: Lato-Light;
    font-weight: 400;
    font-size: 18.72px;
    line-height: 34.64px;
    letter-spacing: 0.04em;
    text-align: left;
  }
  
  .button-container {
    display: flex;
    gap: 20px; 
    margin-top: 20px; 
  }
  
  .big-button {
    width: 171px; 
    height: 60px; 
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    outline: none;
    position: relative;
    z-index: 1; 
    border-radius: 0; 
    transform: skewX(-20deg); 
    background: linear-gradient(90deg, #6542F4 11.84%, #F976FF 51.56%, #B50098 86.46%);
    cursor: pointer;
    color: transparent; 
    transition: color 200ms;
  }
  
  .big-button::before {
    content: "";
    position: absolute;
    left: 1px; 
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 0; 
    background-color: #2E1F6E; 
    z-index: -1; 
    transition: opacity 200ms;
  }
  
  .big-button::after {
    content: attr(data); 
    font-size: 18px; 
    font-family: FONTSPRINGDEMO-OndoBoldRegular;
    background: linear-gradient(90deg, #6542F4 11.84%, #F976FF 51.56%, #B50098 86.46%);
    background-clip: text;  
    color: transparent; 
    transition: color 200ms; 
    font-weight: 800;
    display: inline-block; 
    transform: skewX(20deg); 
  }
  
  .big-button:hover::before {
    opacity: 0.5; 
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .big-button:hover::after {
    color: #ffffff; 
  }
  
  /* images */
  
  .u-repeater {
    display: flex;
    flex-direction: row;
    gap: 31px;
  }
  
  .u-container-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  .Dashcounternumber {
    font-family: FONTSPRINGDEMO-OndoMediumRegular, sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 33.18px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 5px; 
  }
  
  .Dashcounterlabel {
    font-family: Lato-Light;
    font-size: 18.72px;
    font-weight: 400;
    line-height: 34.64px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-top: 0; 
  }
  
  .Dashcounter {
    margin-top: 32px;
  }
  
  @keyframes scroll-text {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); 
    }
  }
  
  .Rectangleframe {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 60px; 
    left: 0;
    background: url(rectanglestripe.png), linear-gradient(180deg, rgba(255, 255, 255, 0.084) 0%, rgba(217, 217, 217, 0.042) 100%);
    backdrop-filter: blur(25px);
    transform: rotate(-1.98deg);
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
    color: #ffffff;
  }
  
  .scroll-container {
    display: flex; 
    animation: scroll-text 15s linear infinite; 
    margin-top: 10px;
  }
  
  .frame-title {
    display: flex; 
    align-items: center; 
    margin-right: 100px; 
  }
  
  .rectangle-text {
    font-family: FONTSPRINGDEMO-OndoMediumRegular, sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 33.18px; 
    letter-spacing: 0.04em; 
    white-space: nowrap;                                    
  }
  
  .star-icon {
    width: 20px; 
    height: 20px; 
    margin: 8px; 
  }
